@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

body {
    background-color: var(--nord0);
    color: var(--nord4);
    font-family: 'Tiro Gurmukhi', serif;
    margin: 0;
    
}

h2 {
    text-align: center;
    margin-block: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--nord4);
}

.navbar {
    background-color: var(--nord1);
    color: var(--nord4);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 1em 2px #000000;
}

.main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 100px;
    margin-inline: 15px;
}

.left-column {
    background-color: var(--nord1);
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    height: 300%;
}

.middle-column-container {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    margin-top: -25px;
}

.middle-column-item {
    background-color: var(--nord1);
    border-radius: 10px;
    margin: 35px;
    height: 400px;
    padding: 30px;
}

@media (max-width: 1000px) {
    
}

